@CHARSET "ISO-8859-1";

#page1 {
	z-index: 1;
	padding: 0px 0px 0px 0px;
	overflow-x: hidden;
	overflow-y: visible;
}
#menu1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	z-index: 2;
}
#page2 {
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 3;
	overflow-x: hidden;
	overflow-y: hidden;

	padding: 0px 0px 0px 0px;
}
#menu2 {
	position: relative;
	left: 0px;
	height: 39px;
	z-index: 4;

	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0NjMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMxMjNFQTgiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM3QkFCRTAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0NjMpIiAvPgo8L3N2Zz4=); /* SVG as background image (IE9/Chrome/Safari/Opera) */
	background-image: -ms-linear-gradient(top, #123EA8 0%, #7BABE0 100%); /* IE10 Consumer Preview */
	background-image: -moz-linear-gradient(top, #123EA8 0%, #7BABE0 100%); /* Mozilla Firefox */
	background-image: -o-linear-gradient(top, #123EA8 0%, #7BABE0 100%); /* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #123EA8), color-stop(1, #7BABE0)); /* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(top, #123EA8 0%, #7BABE0 100%); /* Webkit (Chrome 11+) */
	background-image: linear-gradient(to bottom, #123EA8 0%, #7BABE0 100%); /* W3C Markup, IE10 Release Preview */
	background-repeat: no-repeat;

	background-color: #123EA8;

	padding: 5px 10px 3px 10px; /* top left bottom right */
}
#page3 {
	position: relative;
	left: 0px;
	z-index: 4;
	overflow-x: hidden;
	overflow-y: hidden;

	background-color: #FFFFFF;
}
#logo {
	position: relative;
}
#page4 {
	position: relative;
	
	padding: 30px 5px 5px 5px; /* top left bottom right */

	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MzIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMTAwJSIgeTI9IjAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0ZGRkZGRiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0ZGRkZGRiIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjQjBCMEIwIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNDMyKSIgLz4KPC9zdmc+); /* SVG as background image (IE9/Chrome/Safari/Opera) */
	background-image: -ms-linear-gradient(bottom left, #FFFFFF 0%, #FFFFFF 50%, #B0B0B0 100%); /* IE10 Consumer Preview */
	background-image: -moz-linear-gradient(bottom left, #FFFFFF 0%, #FFFFFF 50%, #B0B0B0 100%); /* Mozilla Firefox */
	background-image: -o-linear-gradient(bottom left, #FFFFFF 0%, #FFFFFF 50%, #B0B0B0 100%); /* Opera */
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #FFFFFF), color-stop(0.5, #FFFFFF), color-stop(1, #B0B0B0)); /* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(bottom left, #FFFFFF 0%, #FFFFFF 50%, #B0B0B0 100%); /* Webkit (Chrome 11+) */
	background-image: linear-gradient(to top right, #FFFFFF 0%, #FFFFFF 50%, #B0B0B0 100%); /* W3C Markup, IE10 Release Preview */
	background-repeat: no-repeat;
}
#footer {
	position: relative;
	left: 0px;
	z-index: 3;
	
	padding: 5px 5px 5px 5px;
	
	text-align: center;
}
#foot1 {
	display: table;
	width: 100%;
}
#foot2 {
	display: table-cell;
	padding: 0px;
	
	text-align: left;
}
#foot3 {
	display: table-cell;
	padding: 10px 0px 10px 0px;
	
	text-align: right;
}
#map {
	height: 300px;
	width: 100%;
	border: 0px;
	border-style: none;
}
#menubutton {
	cursor: pointer;
}

#link {
	background-image: url('../images/external_link-50x50.png');
	background-size: 12px 12px;
	background-position: left center;
	background-repeat: no-repeat;
	font-style: italic;
}
